html,
body{
    font-size: 18px;
    font-family: Helvetica;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

header{
    background-color: black;
}

header img{
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
  padding-top: .25rem
}

header span{
  color: white;
  font-size: 1rem;
  padding-top: .66rem;
  padding-bottom: .66rem;
}

header .container{
  display: flex;
  flex-grow; 1;
  align-content: left;
  padding: 12px 0 12px 0;
}

/*banner*/
.banner{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container .title-box{
  background-color: black;
  position: relative;
  color: white;
  padding: 2em 3em;
  top: 9em;
  max-width: 20rem;
}

.container .title-box h4{
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: .5rem;
  margin: 24px 0 24px 0;
}

.container .title-box h2{
  font-size: 2rem;
  font-weight: bold;
  margin: 9px 0 9px 9;
}

nav{
  background-color: firebrick;
  color: white;
}

nav ul{
  display: flex;
  padding: .75rem 0 .75rem 0;
  justify-content: space-between;
  list-style: none;
}

.container .products{
  display: flex;
  margin: 3rem 0 0 0;
  justify-content: space-between;
}

.product{
  width: 30%;
}

.product-image{
  border: 4px solid black;
  padding: 2em;
  height: 9em;
  justify-content: center;
  display: flex;
  align-items: center;
}

.product-image img{
  max-width: 8em;
}

.description{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: .5rem 0;
}

.pen,
.watch,
.glasses{
  width: 30%;
}

.information{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 3rem 0;
}

.info{
  width: 35%;
}

.info .title{
  background-color: black;
  color: white;
  display: block;
  padding: 1em 2em;
}

footer{
  background-color: black;
  color: white;
  padding: 5rem 0;
  margin-top: 4rem;
}

footer span{
  text-align: left;
}

.mobile-nav{
  display: none;
}

@media only screen and (max-width: 784px){
  .pen, .watch{
    width: 47%;
  }
  .glasses{
    display: none;
  }
  .mobile-nav{
    display:block;
    text-align: center;
  }
  nav ul{
    display:none;
  }

}

@media only screen and (min-width:320px) and (max-width:425px){
  header span{
      font-size: .9rem;
  }

  header img{
    padding-right: .5rem;
  }

  .title-box{
    width: 100%;
  }
  .container .title-box{
    padding: 1rem 0rem 0.1rem 0rem;
    top: 9rem;
  }
  .container .title-box h4{
    font-size: .77rem;
    margin: 0;
    text-align: center;
  }
  .container .title-box h2{
    font-size: 1rem;
    text-align: center;
  }
  .banner{
    height: 15rem;
  }
  .pen{
    width: 90%;
    margin: auto;
  }
  .watch{
    display: none;
  }
  .information{
    display: flex;
    flex-wrap: wrap;
  }
  .info{
    width: 90%;
    margin: .5em auto;
  }
  footer{
    text-align: center;
  }

}
